
html, body {
    margin: 0px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
}

body {
    color: #313435;
    font-size: 10px;
    line-height: 10px;
    font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
    overflow-x: hidden;
    font-weight: lighter;

}

a {
	text-decoration: none;
	color: black;
}

#wrapper h1 {
	text-align: center;
}

.buttonList {
	border: 1px solid black;
	width: 150px;
	text-align: center;
	margin: auto;
	padding: 5px;
}

.channelButton {
	width: 125px;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
	padding: 5px;
	box-shadow: 0px 0px 1px 1px #d20000;;
	transition: all 0.5s ease;

}

.channelButton:hover {
	transition: all 0.5s ease;
	transform: scale(1.10);
}

.categoryButton {
	width: 125px;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
	padding: 5px;
	box-shadow: 0px 0px 1px 1px orange;
	transition: all 0.5s ease;
}

.categoryButton:hover {
	transition: all 0.5s ease;
	transform: scale(1.10);
}

.mostButton {
	width: 125px;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 0px 0px 1px 1px limegreen;
	transition: all 0.5s ease;


}

.mostButton:hover {
	transition: all 0.5s ease;
	transform: scale(1.10);
}

.channel-container {
	display: inline-flex;
}

.category-container {
	display: inline-flex;
}

.most-container {
	display: -webkit-box;
	overflow-x: scroll;

}

.new-container {
	display: -webkit-box;
	overflow-x: scroll;
	width: 96%;
}

.grid-contain {
	border-radius: 2%;
	padding: 5px;
	width: 100%;
	background: white;
	max-height: 200px;

	transition: all 0.5s ease;
}

.item-title {
	text-align: center;
}

.data-url {
	cursor: pointer;
}

.backdrops {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	background-color: white;
	left: 0;
	top: 0;
}

#wrapper {
    padding: 5%;
    padding-top: 100px;
    background-color: whitesmoke;
    padding-top: none;
    padding-top: 75px;
}

.grid-sizer, .grid-item {
    width: 12%;
}

.grid-item {
	width: 99px;
	display: table;
	padding: 8px;
	transition: all 0.5s ease;
}

.grid-image {
	height: auto;
	max-height: 200px;
	min-height: 100px;
	width: 100%;
	position: relative;

	max-width: 100px;
}